@media only screen and (min-width: 1356px) and (max-width: 1506px) {
    .mesmo-mobile-img {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .career_content {
        width: 100%;
        padding: 19px 29px;
    }

    .banner-heading {
        padding-top: 22%;
    }

    .detail_heading h1 {
        font-size: 42px;
    }

    .detail_heading p {
        font-size: 23px;
    }

    .copy-footer {

        margin-left: -15px;
        margin-right: -15px;
    }

    .process-block-overlay {

        height: 108px;
    }

    .about-right {
        right: -45px;
        background-size: 93% 100%;
        top: -6px;
    }

    .about-banner {
        right: 43px;
    }

    .about-banner-bottom {
        left: 45px;

    }

    .overlay-block img {
        margin-top: 84px;
    }

    .our_work-block {
        background-position: inherit;
    }

    .process-block,
    .card {
        height: 536px;
    }

    .right-top-rated {
        padding-left: 15px;
    }

    .top-rated-content h6 {
        font-size: 33px;
    }

    .address-footer {

        width: 77%;
    }

    .service-title {

        font-size: 18px;
    }

    /*Service listing page*/
    .service_listing {
        position: inherit;
    }

    .service_sections {
        padding: 45px 0px;
    }

    .listing_box .listing_heading {
        font-size: 18px;
    }

    .listing_box ul {
        width: 93%;
    }

    .listing_box img {
        min-height: auto;
    }

    /*detail page*/
    .development_block h5 {
        font-size: 18px;
    }

    .development_block {
        padding: 35px 4px 35px 21px;
    }

    .inner_heading {
        font-size: 27px;
    }

    .building_block h5 {
        font-size: 21px;
    }

    .right_side p {
        width: 80%;
    }

    .industry_block h5 {
        font-size: 14px;
    }

    .project_slider_bg {
        height: 355px;
        min-height: 355px;
    }

    #project_slider .center {}

    .project_slider_bg p {
        font-size: 14px;
    }

    .project_detail {
        padding-top: 20px;

    }



    .left_section_part {
        margin-left: 8px !important;
    }

    .right_section_part {
        margin-left: -9px !important;
    }

    .listing_box {
        margin-bottom: 49px;
    }

    .right_side {
        padding: 30px 25px 72px 30px;
    }

    .Offerings-card {
        min-height: 222px;
    }

    .android-services-img img {
        max-width: 100%;
        height: auto;
    }

    .hire-app-developer-img img {
        max-width: 100%;
    }

    .advantage-card {
        min-height: 155px;
    }
}

@media only screen and (min-width: 1083px) and (max-width: 1230px) {
    .contact-left-img img {
        top: 0px;
        margin-top: -5px;
    }

    .play-glam-bg {
        background-position: calc(100% - -30%) 0px;

    }

    .bagtesh-bg,
    .airline-bg,
    .pursueit-bg {
        background-position: calc(100% - 134%) 0px;
    }

    .mobility-apps {
        display: flex;
        background-color: #ffffff;
        font-size: 13px;
    }

    .mobility-apps {
        padding: 0px 10px;
    }

    .mobility-apps img {
        margin-right: 10px;
    }

    .ios-card {
        padding: 30px 20px;
    }

    .faq-img {
        padding-top: 101px;
    }

    .time-card h4 {
        font-size: 17px;
    }

    .time-card p {
        font-size: 13px;
    }

    .time-card-list h6 {
        font-size: 14px;
    }

    .experts-card p {
        font-size: 13px;
    }

    .step-card-link h6 {
        font-size: 14px;
    }

    .flexible-cards .experts-card {
        min-height: 236px;
    }

    .flutter-blocks .industry_block h5 {
        font-size: 14px;
    }

    .react-steps h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .why-to-hire h4 {
        padding: 0 90px;
        padding-top: 47px;
    }

    .hire-card p {
        font-size: 12px;
    }

    .three-tier-card {
        min-height: 547px;
    }

    .ios-advantage-card h5 {
        font-size: 15px;
    }

    .web-application-img img {
        max-width: 100%;
    }

    .technology-icon-list li {
        margin-left: 5px;
    }

    .menu-headings {
        width: 240px;
    }

    .inner-menu-list {
        margin-left: 80px;
    }

    .inner-menu-list-item .mega-menu-inner-block,
    .mega-menu-block {
        width: 340px;
    }

    .line-01 {
        width: 144px;
        right: -18px;
        top: 24px;
    }

    .line-02 {
        width: 161px;
    }

    .line-03 {
        width: 148px;
        top: 36px;
        right: -18px;
    }

    .line-04 {
        left: -44px;
        top: 24px;
        width: 170px;
    }

    .line-05 {
        top: 28px;
        left: -32px;
        width: 158px;
    }

    .line-06 {
        left: -44px;
        top: 36px;
        width: 174px;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1083px) {
    .contact-left-img img {
        top: 0px;
        margin-top: -8px;
    }

    .time-card h4 {
        font-size: 17px;
    }

    .time-card p {
        font-size: 13px;
    }

    .time-card-list h6 {
        font-size: 14px;
    }

    .experts-card p {
        font-size: 12px;
    }

    .flutter-blocks .industry_block h5 {
        font-size: 14px;
    }

    .react-steps h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .react-hire h4 {
        padding: 0 90px;
        padding-top: 47px;
    }

    .three-tier-card {
        min-height: 547px;
    }

    .ios-advantage-card h5 {
        font-size: 15px;
    }

    .web-application-img img {
        max-width: 100%;
    }

    .technology-icon-list li {
        margin-left: 5px;
    }

    .line-01 {
        width: 144px;
        right: -18px;
        top: 24px;
    }

    .line-02 {
        width: 161px;
    }

    .line-03 {
        width: 148px;
        top: 34px;
    }

    .line-04 {
        left: -44px;
        top: 24px;
        width: 172px;
    }

    .line-05 {
        top: 28px;
        left: -32px;
        width: 159px;
    }

    .line-06 {
        left: -44px;
        top: 34px;
        width: 174px;
    }

}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contact-left-img img {
        margin-top: -6px;
        right: 0;
    }

    .back-flip p {
        font-size: 11px;
    }

    .career_content {
        width: 100%;
        padding: 19px 29px;
    }

    .overlay-block img {
        max-width: 245px !important;
        width: 100% !important;
    }

    .owl-theme .owl-dots .owl-dot span {
        margin: 0px 0px !important;
    }

    .hover-effect {
        margin: 0px 0px;
    }

    .hover-effect:hover .our_work-block {
        transform: inherit !important;
    }

    #ourwork {
        display: block !important;
    }

    .desktopWork {
        display: none;
    }

    .back-flip ul li {

        padding: 5px 15px;
        font-size: 9px;
    }

    .back-flip a {
        font-size: 12px;
    }

    .process-block,
    .card {

        height: 383px;
    }

    #particles-js,
    #section1,
    #particles-js canvas {
        height: 450px !important;
    }

    .banner-heading {
        font-size: 40px;
    }

    .web-btn {
        margin: 36px auto;
    }

    .service-block {
        padding: 0px;
    }

    #section2 .page-title {
        padding-bottom: 40px;
    }

    #section2 {
        max-height: inherit;
        padding-bottom: 0px;
    }

    #section3 .col-6 {
        padding: 0px 7px;
    }

    .right-top-rated ul {
        text-align: center;
    }

    .right-top-rated {
        padding-left: 15px !important;

    }

    .top-rated-content {
        text-align: center;
    }

    .right-top-rated ul li {
        margin: 0px 10px !important;
    }

    .process-block img {
        height: 380px;
    }

    .process-block-overlay a {
        font-size: 13px;
    }

    .process-block-overlay {
        bottom: 5px;

        height: 54px;
    }

    .about-right {
        display: none;
    }

    .abbout-content-left {
        padding: 20px 0px;
        text-align: center;
    }

    .float-icon {
        display: block !important;
        margin: 15px auto;
        float: none;
    }

    .address-footer {
        float: none;
        width: 100%;
    }

    .let-talk-about h5 {
        font-size: 35px;
    }

    .let-talk-about p {
        font-size: 14px;
        padding-right: 26%;
    }

    .need-help {
        position: absolute;
        right: 15px;
        margin: 0px;
        top: 50%;
        margin-top: -21px !important;
        padding: 11px 25px;
        font-size: 11px;
    }

    .copy-footer {
        margin: 0px;
    }

    .copy-right {
        padding-top: 16px;
    }

    .footer-links {
        padding: 21px 15px;
    }

    /*Service listing page*/
    .service_listing {
        position: inherit;
    }

    .services2 {
        margin-top: -180px;
    }

    .services3 {
        margin-top: -262px;
    }

    .listing_box {
        padding: 26px 29px 42px 22px;
    }

    .service_sections {
        padding: 45px 0px;
    }

    .listing_box .listing_heading {
        font-size: 18px;
    }

    .listing_box ul {
        width: 93%;
    }

    .listing_box img {
        /* width: 100%;*/
        min-height: auto;
    }

    /*detail page*/
    .right_side p {
        /* font-size: 11px; */
        width: 86%;
    }

    .right_side {
        /* padding: 24px 23px 59px 23px; */
        padding: 30px 30px 72px 25px;
        ;
    }

    .right_side a {
        /* font-size: 12px; */
    }

    .right_side .fa-phone {
        height: 55px;
    }

    .right_side li {
        /* font-size: 13px; */
    }

    .offices {
        font-size: 12px;
    }

    .common_sections .inner_heading {
        font-size: 23px;
    }

    .step_box h5 {
        font-size: 17px;
    }

    .step_box p {
        font-size: 13px;
    }

    .building_block img {
        width: 100%;
    }

    .building_block {
        padding: 27px;
    }

    .building_block h5 {
        font-size: 15px;
    }

    .building_block p {
        font-size: 13px;
    }

    .development_block h5 {
        font-size: 14px;
    }

    .development_block {
        padding: 29px 0px 32px 13px;
    }

    .mobile_wearables .pr-0 {
        padding-left: 16px !important;
    }

    /* .project_detail {
    padding-top: 46px;
} */

    /* .project_slider_bg p {
        font-size: 14px;
    } */

    .client_block {
        padding: 48px 22px 50px 24px;
    }

    .client_block p {
        font-size: 14px;
    }

    .mobile_section .detail_heading h1 {
        font-size: 35px;
    }

    .mobile_section .detail_heading p {
        font-size: 21px;
    }

    .industry_block h5 {
        font-size: 14px;
    }

    .project_slider_bg {
        height: 392px
    }

    .left_section_part {
        margin-left: 0px !important;
    }

    .right_section_part {
        margin-left: 0px !important;
    }

    .common_heading strong {
        font-size: 20px;
    }

    .common_heading p {
        font-size: 13px;
    }

    .detail_heading h1 {
        font-size: 33px;
    }

    .detail_heading p {
        font-size: 18px;
    }

    .mobile_wearables {
        height: auto;
    }

    .mesmo-mobile-img {
        display: none;
    }

    .react-steps h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .php-development-cards .row {
        justify-content: center;
    }

    .pt-225 {
        padding-top: 95px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
    .time-card h4 {
        font-size: 17px;
    }

    .time-card p {
        font-size: 13px;
    }

    .time-card-list h6 {
        font-size: 14px;
    }

    .step-card-link h6 {
        font-size: 14px;
    }

    .experts-card p {
        font-size: 13px;
    }

    .why-to-hire h4 {
        padding: 0 100px;
        padding-top: 47px;
    }

    .flexible-cards .experts-card {
        min-height: 238px;
    }

    .flutter-blocks .industry_block h5 {
        font-size: 13px;
    }

    .react-steps h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .three-tier-card {
        min-height: 547px;
    }

    .Offerings-card {
        min-height: 222px;
    }

    .android-services-img img {
        max-width: 100%;
        height: auto;
    }

    .hire-app-developer-img img {
        max-width: 100%;
    }

    .advantage-card {
        min-height: 155px;
    }

    .ios-advantage-card h5 {
        font-size: 15px;
    }

    .web-application-img img {
        max-width: 100%;
    }

    .technology-icon-list li {
        margin-left: 5px;
    }

    .dot-net-card-heading h5 {
        font-size: 15px;
    }

    .java-web-app-content {
        max-width: inherit;
    }

    .line-01 {
        width: 144px;
        right: -18px;
        top: 24px;
    }

    .line-02 {
        width: 161px;
    }

    .line-03 {
        width: 148px;
        top: 34px;
    }

    .line-04 {
        left: -44px;
        top: 24px;
        width: 172px;
    }

    .line-05 {
        top: 28px;
        left: -32px;
        width: 159px;
    }

    .line-06 {
        left: -44px;
        top: 34px;
        width: 174px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*detail page*/
    .right_side p {
        font-size: 12px;
        width: 86%;
    }

    .right_side {
        padding: 24px 15px 52px 15px;
    }

    .right_side a {
        font-size: 12px;
    }

    .right_side .fa-phone {
        height: 55px;
    }

    .right_side li {
        font-size: 13px;
    }

    .our-portfolio {
        height: auto !important;
    }

    .our-portfolio .detail_heading p {
        font-size: 15px;
        padding-bottom: 0px;
    }

    .play-glam-bg {
        background: transparent;
        margin: 0px 0px;
        padding-bottom: 0px;
    }

    .portfolio-list-heading h3 {
        font-size: 25px;
        padding-top: 30px;
    }

    .portfolio-list-heading p {
        font-size: 14px;
        padding-top: 15px;
    }

    .portfolio-left-img img {
        width: 100%;
        margin-top: 40px;
        position: static;
    }

    .bagtesh-bg {
        padding-bottom: 40px;
    }

    .portfolio-list-heading p {
        font-size: 12px;
        color: rgb(75, 75, 75);
        line-height: 1.733;
        font-weight: 400;
        padding-top: 22px;
    }

    .waiting-for-content h4 {
        font-size: 22px;
    }

    .waiting-for-content p {
        font-size: 15px;
    }

    .hire-dedicated .detail_heading h1 {
        font-size: 31px;
        padding-right: 0px;
    }

    .developer-hiring-block h5 {
        font-size: 16px;
    }

    .hire-dedicated .detail_heading p {
        font-size: 18px;
        padding-top: 18px;
    }

    .developer-hiring h2 {
        font-size: 27px;
    }

    .diverse p {
        padding: 0px;
        padding-top: 17px;
    }

    .mobility-solutions p {
        padding: 0px 0px;
        padding-top: 10px;
    }

    .mobility-apps {
        font-size: 12px;
        padding: 0px 10px;
    }

    .mobility-apps img {
        margin-right: 10px;
    }

    .various-industries-cards .card-text {
        font-size: 13px;
    }

    .various-industries-cards .row {
        justify-content: center;
    }

    .ios-card {
        padding: 30px 15px;
    }

    .hover-ios h5 {
        padding-top: 15px;
    }

    .geekologix-ios-cards .row {
        justify-content: center;
    }

    .faq-img {
        display: none;
    }

    .country-content li p {
        font-size: 13px;
        color: rgb(147, 147, 147);
        line-height: 1.714;
        text-align: left;
        font-weight: 500;
    }

    .address-text {
        padding-right: 0px;
    }

    .contact-left-img {
        display: none;
    }

    .time-card {
        margin-bottom: 30px;
    }

    .doveloper-timing {
        padding-bottom: 32px;
    }

    .step-card-link h6 {
        font-size: 13px;
    }

    .experts-cards .row {
        justify-content: center;
    }

    .experts-card {
        margin-bottom: 65px;
    }

    .experts-card p {
        font-size: 13px;
    }

    .ang-experts {
        padding-bottom: 0;
    }

    .why-to-hire h4 {
        padding: 0 0px;
        padding-top: 47px;
    }

    .flutter-blocks .industry_block {
        margin-top: 30px;
    }

    .react-steps h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .fullstack-content-list li {
        font-size: 14px;
    }

    .fullstack-content h4 {
        font-size: 20px;
    }

    .fullstack-content p {
        font-size: 14px;
        padding-top: 20px;
    }

    .three-tier-card {
        min-height: 527px;
    }

    .three-tier-cards .row {
        justify-content: center;
    }

    .hire-mean-stack h4 {
        font-size: 25px;
        padding-top: 0px;
    }

    .hire-mean-stack p {
        font-size: 14px;
        padding-top: 13px;
    }

    .hire-mean-stack .mobility-apps {
        font-size: 14px;
    }

    .left-content-img,
    .right-content-img {
        display: none;
    }

    .left-right-content {
        padding-bottom: 40px;
    }

    .left-right-content h4 {
        font-size: 20px;
        padding-top: 40px;
    }

    .left-right-content p {
        font-size: 13px;
    }

    .android-services-img img {
        max-width: 100%;
        height: auto;
    }

    .native-app-icons li {
        margin-right: 18px;
    }

    .advantage-card {
        display: block;
        text-align: center;
    }

    .advantage-card img {
        display: block;
        margin: auto;
    }

    .advantage-card-content {
        padding-left: 0px;
        padding-top: 20px;
    }

    .Offerings-card h5 {
        font-size: 12px;
    }

    .Offerings-cards .row {
        justify-content: center;
    }

    .hire-app-developer-img {
        display: none;
    }

    .ios-service-img {
        text-align: center;
    }

    .ios-offering-card {
        margin-top: 25px;
        padding: 10px;
    }

    .ios-offering-img {
        margin-right: 10px;
    }

    .ios-offering-card h5 {
        font-size: 14px;
    }

    .geekologix-navigating-img,
    .web-application-img {
        text-align: center;
    }

    .discovery-arrow-img,
    .architecture-arrow-img {
        display: none;
    }

    .we-perfectit-card {
        margin-bottom: 30px;
    }

    .we-perfecit-cards .row {
        justify-content: center;
    }

    .laravel-offering-card {
        padding: 0;
    }

    .wordpress-web-app-card {
        direction: rtl;
        margin-bottom: 40px;
    }

    .wordpress-web-app-img img {
        position: static;
        max-width: 100%;
    }

    .wordpress-web-app-img {
        min-width: 60px;
        margin-right: 10px;
    }

    .wordpress-web-app-text {
        text-align: left !important;
    }

    .responsive-direction {
        direction: ltr;
    }

    .worpress-center-img {
        display: none;
    }

    .wordpress-advantage-cards {
        padding-top: 40px;
    }

    .shap-expertise-img {
        display: none;
    }

    .php-center-img {
        display: none;
    }

    .pt-225 {
        padding-top: 95px;
    }

    .single-line {
        display: none;
    }

    #menu_open {
        display: none;
    }

    .header-fixed {
        z-index: 999;
    }

    .header-fixed {
        z-index: 999;
    }

    #responsive-menu-button,
    #responsive-menu-container {
        z-index: 9999;
    }

    #responsive-menu-button {
        top: 30px !important;
        background: transparent !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .overlay-block img {
        max-width: 245px !important;
        width: 100% !important;
    }

    .img_desktop {
        display: block !important;
    }

    .img_hover {
        display: none !important;
    }

    .sectionss {
        height: auto;
    }

    .owl-theme .owl-dots .owl-dot span {
        margin: 0px 0px !important;
    }

    /* .owl-theme .owl-dots .owl-dot {
        border: 0px;
        background: transparent;
        outline: none;
    } */

    .hover-effect {
        margin: 0px 0px;
    }

    .hover-effect:hover .our_work-block {
        transform: inherit !important;
    }

    #ourwork {
        display: block !important;
    }

    .desktopWork {
        display: none;
    }

    :root {

        --btn-padding: 11px 30px;
    }

    .process-block,
    .card {
        height: 330px;
    }

    .process-block .card .back-flip {
        overflow-y: auto;
    }

    .back-flip::-webkit-scrollbar {
        width: 1px;
        cursor: pointer;
        height: 0px;

    }

    .back-flip::-webkit-scrollbar-track {

        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
    }

    .back-flip::-webkit-scrollbar-thumb {
        background: rgba(238, 90, 36, 0.9);
        outline: 1px solid slategrey;

    }

    .header-top .col-6 {
        /* padding-left: 0px !important; */
    }

    .logo img {
        width: 145px;
    }

    #section1 {
        /*margin: 10px;*/
    }

    .banner-heading {
        font-size: 28px;
        padding-top: 100px;
    }

    .web-btn {
        margin: 0px auto;
        font-size: 9px;
    }

    .banner-heading div {
        height: 58.56px;
    }

    #section1 {
        padding: 20px 0px;
    }

    #section2 {
        max-height: inherit;
        padding: 35px 0px;
    }

    .service-block p {
        display: none;
    }


    .service-title {
        font-size: 16px;

    }

    .tag-list li span {
        font-size: 12px;
    }

    .career_content {
        width: 100%;
        padding: 19px 25px;
    }

    .top-career p a {
        font-size: 13px;
        padding: 6px 6px;
    }

    .service-block {
        margin-bottom: 30px;
        padding: 0px;
        padding-bottom: 29px;
        padding-top: 11px;
        border: 0px;
        border-bottom: 1px solid #8348ce !important;
    }

    .address-footer a {
        padding: 4px 0px 5px 0px;
    }

    .tag-list {
        margin: 0px;
    }

    .tag-list li a {
        font-size: 9px;
    }

    .tag-list li {

        padding-right: 2px;
        margin-right: 2px;
    }

    .page-title {
        font-size: 20px;

    }

    #section2 .page-title {
        padding-bottom: 30px;
    }

    #section3 .col-6 {
        padding: 0px 7px;
    }

    .about-right {
        display: none;
    }

    .service-title img {
        height: 37px;
        margin-bottom: 15px !important;
    }

    #section3 .p-0 {
        padding: 0px 15px !important;
    }

    .work-title {
        font-size: 20px;
    }

    .overlay-block p {
        font-size: 12px;
        padding: 0px 0px;
    }

    .our_work-block {
        /*height: 147px;*/
        margin-top: 14px;

    }

    .right-top-rated {
        display: none;
    }

    .top-rated-content {
        padding: 0px 15px;
    }

    #section4 .p-0 {
        padding: 0px 15px !important;

    }

    .top-rated-content h6 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
        line-height: 30px;
    }

    .top-rated-content p {
        text-align: center;
        font-size: 13px;
    }

    .top-career .web-btn {
        margin-top: 20px;
        font-size: 8px;
        padding: 10px 19px;
    }

    .top-career p {
        font-size: 13px;
    }

    #section5 .p-0,
    #section6 .p-0,
    #section7 .p-0 {
        padding: 0px 15px !important;

    }

    .process-block img {
        max-height: 300px;
        height: 100%;
    }

    .process-block {
        /*      margin-bottom: 30px;*/
        margin-top: 5px;
    }

    .footer-links1 {
        padding-top: 27px;
    }

    .address-footer {
        padding-bottom: 12px;
        margin-bottom: 0px;
        margin-bottom: 15px;
    }

    .footer-add {
        border-bottom: 1px solid #42bff1;
        margin-bottom: 15px;
    }

    .footer-responsive {
        margin-bottom: 15px;
        border-bottom: 1px solid #42bff1;
    }

    .address-footer h5 {
        font-size: 15px;
        padding-bottom: 5px;
    }

    #section5 .page-title {

        padding-bottom: 5px;
    }

    .process-block-overlay a {
        font-size: 20px;
    }

    .process-block-overlay {
        height: 60px;
        bottom: 50px;
    }

    #section5 {
        padding: 35px 0px;
    }

    .abbout-content-left {
        padding: 0px 15px;
        text-align: center;
    }

    .abbout-content-left h5 {
        font-size: 20px;
    }

    .abbout-content-left p {
        padding: 10px 0px 0px 0px;
        font-size: 13px;
    }

    .let-talk-about {
        text-align: center;
        border: 0px;
        background: transparent;
        margin: 0px;
        padding: 10px 0px;
    }

    .let-talk-about h5 {
        font-size: 20px;
    }

    .need-help {
        position: unset;
        padding: 11px 19px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .let-talk-about p {
        padding: 0px 0px;
        font-size: 13px;
    }

    #section6 {
        padding: 35px 0px;
    }

    .footer-add .float-icon {
        float: left;
        padding: 9px 6px !important;
    }

    .float-icon {
        height: 45px;
        width: 45px;
        padding: 5px !important;
    }

    .float-icon img {
        width: 78%;

    }

    .footer-add .address-footer {
        float: left !important;
        margin-bottom: 1px;
    }

    .copy-footer {
        margin: 0px;

    }

    .copy-footer .text-left {
        text-align: center !important;
    }

    .footer-social {
        display: none;
    }

    #particles-js,
    #section1,
    #particles-js canvas {
        height: 372px !important;
    }

    /*service listing*/
    .service_listing {
        height: auto;
    }

    .common_heading h1 {
        padding-top: 45px;
    }

    .common_heading p {
        padding-right: 0%;
        font-size: 13px;
    }

    .common_heading strong {
        font-size: 15px;
        padding: 14px 0px 25px 0px;
    }

    .services2 {
        margin-top: 0px;
    }

    .listing_box {
        margin-bottom: 34px;
        padding: 29px 22px 39px 20px;
    }

    .listing_box .listing_heading {
        font-size: 17px;
    }

    .listing_box p {
        font-size: 13px;
    }

    .listing_box img {
        min-height: auto;
    }

    .service_tag li {
        font-size: 12px;
    }

    .listing_box ul {
        width: 94%;
    }

    .service_sections {
        padding: 50px 0px 0px 0px;
        /* margin-top: 65px; */
    }

    /*detail page*/
    .detail_heading h1 {
        font-size: 30px;
    }

    .inner_heading {
        font-size: 23px;
        text-transform: capitalize !important;
        text-align: center;
    }

    .inner_content {
        font-size: 14px;
        padding: 30px 18px;
    }

    .development_block {
        padding: 24px 16px 28px 20px;
        /* margin-bottom: 20px; */
    }

    .development_block h5 {
        font-size: 19px;
    }

    .common_sections {
        padding: 33px 0px;
    }

    .top_mobile {
        padding: 50px 0px;
    }

    .we_serve {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .mobile_wearables .banner-heading {
        line-height: 27px;
    }

    .requst_quote {
        padding: 13px 12px;
        margin-top: 25px;
    }

    .banner_img {
        display: none;
    }

    .common_btns {
        font-size: 12px;
        text-transform: capitalize !important;
    }

    .industry_block {
        margin-top: 30px;
    }

    .let_started {
        padding: 10px 13px;
        margin-top: 35px;
    }

    .common_sections .inner_heading {
        text-align: center;
    }

    .building_block h5 {
        font-size: 17px;
    }

    .building_block p {
        font-size: 13px;
    }

    .building_block {
        padding: 25px;
        margin-top: 30px;
    }

    .shapes {
        display: none !important;
    }

    .mobile_develops_inner img {
        margin: 0px auto;
        display: block;
    }

    .mobile_steps {
        padding-right: 15px !important;
    }

    .step_1 {
        left: 50%;
        margin-left: -17px !important;
        top: -51px;
    }

    .step_2 {
        left: 50%;
        /* bottom: 159px; */
        top: -44px;
        margin-left: -26px !important;
        bottom: auto;
    }

    .step_4 {
        top: -46px;
        margin-left: -24px !important;
    }

    .step_5 {
        top: -15%;
        margin-left: -25px !important;
    }

    .common_footer .pr-0 {
        padding-right: 15px !important;
    }

    .common_footer .pl-0 {
        padding-left: 15px !important;
    }

    .step_box {
        text-align: center;
    }

    .right_side p {
        width: 89%;
    }

    .mobile_wearables p {
        line-height: 25px;
    }

    .step_box h5 {
        font-size: 19px;
    }

    .step_box p {
        font-size: 14px;
    }

    .mobile_develops_inner {
        margin-bottom: 23px;
    }

    .mobile_wearables .pr-0 {
        padding-left: 15px !important;
    }

    .project_detail {
        padding-top: 0px;
        padding-right: 0px;
    }

    .mobile_wearables {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* .mobile_section {
        height: 365px !important;
    } */

    .mobile_section .detail_heading h1 {
        font-size: 30px;
    }

    .mobile_section .detail_heading p {
        font-size: 17px;
    }

    .mobile_wearables .pr-0 {
        padding-left: 16px !important;
    }

    .project_detail {
        padding-top: 10px;
    }

    .project_slider_bg p {
        font-size: 14px;
        text-align: left;
        padding: 15px 15px 33px 0px;
    }

    .services3 {
        margin-top: 0px;
    }

    .client_block p {
        text-align: justify;
        font-size: 14px;
    }

    .client_block {
        padding: 51px 33px 40px 22px;
    }

    .framework_block h5 {
        font-size: 16px;
    }

    .project_slider_bg {
        height: 273px;
    }

    .project_slider_bg h5 {
        font-size: 24px;
    }

    .project_slider_bg a {
        font-size: 12px;
        padding: 10px 10px;
    }

    .client_review .container {
        padding: 0px 15px 0px 19px;
    }

    .lets_banner a {
        padding: 13px 35px;
        font-size: 14px;
    }

    .left_section_part {
        margin-left: 0px !important;
    }

    .right_section_part {
        margin-left: 0px !important;
    }

    .mobile_section .detail_heading h1 {
        font-size: 25px;
    }

    .industry_block h5 {
        font-size: 14px;
    }

    .our-portfolio {
        height: auto !important;
    }

    .our-portfolio .detail_heading p {
        font-size: 15px;
        padding-bottom: 0px;
    }

    .play-glam-bg {
        background: transparent;
        margin: 0px 0px;
        padding-bottom: 0px;
    }

    .portfolio-list-heading h3 {
        font-size: 25px;
        padding-top: 30px;
    }

    .portfolio-list-heading p {
        font-size: 14px;
        padding-top: 15px;
    }

    .portfolio-left-img img {
        width: 100%;
        margin-top: 40px;
        position: static;
    }

    .view-study-btns li:first-child {
        margin-right: 6px;
    }

    .view-study-link {
        font-size: 11px;
        line-height: 36px;
        padding: 0px 11px;
    }

    .portfolio-icon-link {
        width: 40px;
        height: 40px;
    }

    .bagtesh-bg {
        padding-bottom: 40px;
    }

    .see-more-case h4,
    .waiting-for-content h4,
    .features-play-glam h3,
    .industry-intro h3,
    .technology-stack h2 {
        font-size: 20px;
        padding-top: 40px;
    }

    .technology-stack {
        /* padding-bottom: 40px; */
    }

    .technology-stack-list {
        /* padding-top: 20px; */
    }

    .technology-stack-list .owl-carousel {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .portfolio-list-heading h3 {
        font-size: 18px;
        padding-top: 30px;
    }

    .portfolio-list-heading p {
        font-size: 13px;
    }

    .industry-intro {
        padding-bottom: 40px;
    }

    .features-play-glam {
        padding-bottom: 40px;
    }

    .industry-intro p {
        padding: 0 0%;
        padding-top: 20px;
        font-size: 13px;
    }

    .features-content {
        margin-top: 20px;
        padding: 23px 28px;
        padding: 15px;
    }

    .features-content h5 {
        font-size: 18px;
    }

    .features-content ul {
        padding-top: 10px;
    }

    .features-content ul li {
        font-size: 13px;
    }

    .waiting-for {
        padding: 0px;
        padding-bottom: 40px;
    }

    .waiting-for-content p {
        font-size: 14px;
    }

    .our-experts-form {
        margin-top: 30px;
        max-width: 100%;

    }

    .see-more-case .card-title {
        font-size: 18px;
        font-family: "Montserrat";
        font-weight: 600;
        color: rgb(34, 34, 34);
    }

    .mobile_project {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .mobile_devlop {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .service_listing {
        padding-top: 43px;
        padding-bottom: 43px;
    }

    .our-portfolio .detail_heading h1 {
        padding-top: 50px;
    }

    .industry-slider .owl-prev {
        left: 0px;
    }

    .industry-slider .owl-next {
        right: 0px;
    }

    .form-heading h4 {
        font-size: 18px;
    }

    .developer-hiring {
        padding-bottom: 20px;
    }

    .hire-dedicated-btn .let-disuss-btn {
        margin-top: 35px;
    }

    .hire-dedicated .our-experts-form {
        max-width: inherit;
        margin-top: 40px;
    }

    .hire-dedicated .mobile_wearables {
        padding-bottom: 43px;
    }

    .hire-dedicated .detail_heading h1 {
        padding-right: 0px;
    }

    .developer-hiring h2 {
        padding-top: 40px;
        font-size: 25px;
    }

    .developer-hiring p {
        font-size: 14px;
        padding-top: 20px;
    }

    .developer-hiring-blocks .mt-30 {
        margin-top: 0px;
    }

    .developer-hiring-block {
        margin-bottom: 30px;
        padding: 28px 10px;
        min-height: 190px;
    }

    .developer-hiring-block h5 {
        font-size: 16px;
        padding-top: 14px;
    }

    .diverse p {
        font-size: 14px;
        text-align: center;
        padding: 0px;
        padding-top: 17px;
    }

    .mobility-solutions h4 {
        font-size: 18px;
    }

    .mobility-solutions p {
        font-size: 14px;
        padding: 0px;
        padding-top: 10px;
    }

    .mobility-apps-block {
        padding-bottom: 10px;
    }

    .various-industries {
        padding-bottom: 20px;
    }

    .various-industries h4 {
        font-size: 25px;
        padding-top: 40px;
    }

    .various-industries p {
        font-size: 14px;
    }

    .geekologix-ios {
        padding-bottom: 15px;
    }

    .geekologix-ios h4 {
        font-size: 25px;
        padding-top: 40px;
    }

    .geekologix-ios p {
        font-size: 14px;
    }

    .ios-card {
        padding: 15px 15px;
        height: 190px;
        margin-bottom: 30px;
    }

    .ios-heading h5 {
        font-size: 14px;
        padding-top: 18px;
    }

    .hover-ios {
        padding: 15px;
    }

    .hover-ios h5 {
        font-size: 14px;
        padding-top: 0px;
    }

    .hover-ios p {
        font-size: 11px;
    }

    .faq h4 {
        font-size: 25px;
        color: rgb(34, 34, 34);
        font-weight: 600;
        text-align: center;
        padding-top: 40px;
    }

    .myaccordion {
        padding-top: 40px;
    }

    .myaccordion .card-header button {
        font-size: 12px;
        padding: 8px 15px;
    }

    .myaccordion .card-body {
        padding: 0px 15px;
        padding-bottom: 20px;
    }

    .myaccordion .fa-stack {
        font-size: 14px;
    }

    .myaccordion-text {
        font-size: 11px;
    }

    .faq-img {
        display: none;
    }

    .faq {
        padding-bottom: 30px;
    }

    .mobility-apps {
        font-size: 13px;
    }

    .card-img {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .various-industries-cards {
        padding-top: 40px;
    }

    .various-industries-cards .row {
        justify-content: center;
    }

    .various-industries-cards .card-title {
        font-size: 18px;
    }

    .various-industries-cards .card-text {
        font-size: 12px;
    }

    .card-read-more {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .various-industries-cards .card-body {
        padding: 15px 12px;
    }

    .contact-left-img {
        display: none;
    }

    .country-content {
        margin-bottom: 80px;
    }

    .doveloper-timing {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .time-card {
        margin-bottom: 30px;
    }

    .doveloper-expertise {
        padding-top: 40px;
        padding-bottom: 40px;

    }

    .angular-steps h4,
    .doveloper-expertise h3 {
        font-size: 25px;
    }

    .doveloper-expertise p {
        font-size: 14px;
    }

    .benefits-hire .mobility-apps {
        font-size: 14px;
    }

    .benefits-hire {
        padding-top: 40px;
    }

    .benefits-hire h4 {
        font-size: 20px;
    }

    .benefits-hire p {
        padding-top: 20px;
    }

    .angular-steps h4 {
        padding-top: 40px;
    }

    .angular-steps p {
        padding: 0px 0px;
        padding-top: 10px;
    }

    .ang-step-card {
        width: 46%;
        margin: 0 2%;
        float: left;
        margin-bottom: 15px;
    }

    .step-card-link h5 {
        font-size: 20px;
    }

    .step-card-link h6 {
        font-size: 13px;
    }

    .step-card-list .step-card-link:last-child {
        margin: auto;
    }

    .angular-steps {
        padding-bottom: 25px;
    }

    .ang-experts h4 {
        font-size: 25px;
        padding-top: 40px;
    }

    .experts-card {
        margin-bottom: 30px;
    }

    .expert-img {
        margin-top: 0px;
        position: absolute;
        left: 35px;
        top: 20px;
    }

    .experts-cards {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .experts-card h5 {
        font-size: 18px;
        padding-left: 85px;
        padding-top: 21px;
    }

    .experts-card p {
        font-size: 13px;
        padding-top: 35px;
    }

    .ang-experts {
        padding-bottom: 0px;
    }

    .why-to-hire h4 {
        padding: 0 0px;
        padding-top: 40px;
        font-size: 25px;
    }

    .shap-expertise-img {
        display: none;
    }

    .hire-flutter h4,
    .flutter-services h3 {
        font-size: 25px;
        padding-top: 40px;
    }

    .hire-flutter p,
    .flutter-services p {
        padding: 0px 0px;
        padding-top: 8px;
        font-size: 14px;
    }

    .flutter-ninehertz-cards {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .flutter-ninehertz-card {
        margin-top: 40px;
    }

    .flutter-blocks .industry_block {
        margin-top: 30px;
        padding: 19px 5px 5px 5px;
    }

    .flutter-blocks .industry_block h5 {
        font-size: 13px;
    }

    .flutter-card {
        min-height: inherit;
    }

    .react-steps h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .client_review h4 {
        padding-bottom: 65px;
    }

    .client_review {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .comman_list {
        padding-top: 15px;
    }

    .comman_list li {
        font-size: 15px;
    }

    .what-fullstack h3 {
        padding-top: 40px;
        font-size: 25px;
    }

    .what-fullstack p {
        font-size: 14px;
    }

    .what-fullstack {
        padding-bottom: 40px;
    }

    .fullstack-content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .fullstack-content h4 {
        font-size: 20px;
        padding-top: 40px;
    }

    .fullstack-content-list li {
        font-size: 14px;
        padding-left: 35px;
        margin-bottom: 25px;
    }

    .fullstack-content p {
        font-size: 14px;
        padding-top: 20px;
    }

    .three-tier-architecture h4 {
        padding-top: 40px;
        font-size: 25px;
    }

    .card-content h5 {
        font-size: 17px;
    }

    .card-content p {
        font-size: 13px;
    }

    .card-content-list li {
        font-size: 13px;
    }

    .hire-mean-stack p {
        font-size: 14px;
    }

    .left-content-img,
    .right-content-img {
        display: none;
    }

    .left-right-content {
        padding-bottom: 40px;
    }

    .left-right-content h4 {
        font-size: 20px;
        padding-top: 40px;
    }

    .left-right-content p {
        font-size: 13px;
    }

    .trusted-devops .flutter-ninehertz-card {
        min-height: inherit;
    }

    .hire-android-app-developer h4,
    .our-key-offerings h4,
    .geekologix-advantages h4,
    .android-services h2 {
        padding-top: 40px;
        font-size: 25px;
    }

    .android-services-img {
        margin-top: 30px;
    }

    .android-services-img img {
        max-width: 100%;
        height: auto;
    }

    .native-app-icons li {
        margin-right: 12px;
    }

    .advantage-card {
        display: block;
        text-align: center;
    }

    .advantage-card img {
        display: block;
        margin: auto;
    }

    .advantage-card-content {
        padding-left: 0px;
        padding-top: 20px;
    }

    .our-key-offerings {
        padding-bottom: 50px;
    }

    .Offerings-card {
        min-height: 210px;
    }

    .Offerings-card h5 {
        font-size: 13px;
    }

    .hire-app-developer-img {
        display: none;
    }

    .hire-android-app-developer h5 {
        font-size: 16px;
    }

    .hire-android-app-developer p {
        font-size: 14px;
        padding-top: 18px;
    }

    .hire-android-app-developer {
        padding-bottom: 40px;
    }

    .px-0 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .ios-services {
        padding-bottom: 40px;
    }

    .ios-service-img {
        margin-top: 40px;
    }

    .ios-service-img img {
        max-width: 100%;
    }

    .ios-key-offering h3,
    .geekologix-ios-advantage h3,
    .ios-service-content h2 {
        padding-top: 40px;
        font-size: 25px;
    }

    .ios-service-list h5 {
        font-size: 16px;
    }

    .ios-service-list p {
        font-size: 14px;
    }

    .ios-advantage-card {
        margin-top: 50px;
    }

    .ios-card-img {
        width: 65px;
        height: 65px;
        margin-top: -32.5px;
    }

    .ios-card-img img {
        max-width: 100%;
    }

    .ios-advantage-card h5 {
        font-size: 14px;
        padding-top: 20px;
    }

    .geekologix-ios-advantage {
        padding-bottom: 50px;
    }

    .ios-offering-img {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }

    .ios-offering-img img {
        max-width: 100%;
    }

    .ios-offering-card {
        padding: 10px;
        margin-top: 25px;
    }

    .ios-offering-card h5 {
        font-size: 12px;
    }

    .ios-key-offering {
        padding-bottom: 45px;
    }

    .we-perfectit h3,
    .technologies-faq h3,
    .platforms-industries h3,
    .geekologix-navigating h3,
    .web-application h2 {
        font-size: 25px;
        padding-top: 40px;
    }

    .web-application-img img {
        max-width: 100%;
    }

    .web-application-img {
        margin-top: 40px;
    }

    .web-application h5 {
        font-size: 16px;
        padding-top: 40px;
    }

    .geekologix-navigating p,
    .web-application p {
        font-size: 14px;
    }

    .web-application {
        padding-bottom: 40px;
    }

    .geekologix-navigating-list {
        padding-top: 10px;
    }

    .technologies-faq p {
        padding: 0px 0px;
        padding-top: 10px;
    }

    .technologies-accordian .card-header button {
        padding-left: 90px;
    }

    .we-perfecit-cards {
        padding-top: 40px;
    }

    .architecture-arrow-img,
    .discovery-arrow-img {
        display: none;
    }

    .we-perfectit-card {
        padding: 20px 12px;
        margin-bottom: 30px;
    }

    .we-perfectit .mb-100 {
        margin-bottom: 30px;
    }

    .technologies-accordian .card-header button {
        padding: 22px 15px;
        padding-left: 90px;
    }

    .technology-icon-list {
        padding-left: 0px;
    }

    .java-best-app h3,
    .what-makes-php h3,
    .our-tech-stack h3,
    .laravel-development-edge h3,
    .what-makes-larawel h3 {
        font-size: 25px;
        padding-top: 40px;
    }

    .laravel-cards {
        padding-top: 40px;
    }

    .what-makes-larawel {
        padding-bottom: 10px;
    }

    .laravel-development-edge {
        padding-bottom: 25px;
    }

    .tech-cards {
        padding-top: 40px;
    }

    .laravel-accordian .card-header button {
        padding-left: 50px;
    }

    .tech-card {
        height: 130px;
    }

    .tech-card h5 {
        font-size: 15px;
    }

    .tech-logo-img {
        height: 80px;
    }

    .our-tech-stack {
        padding-bottom: 15px;
    }

    .laravel-offering-card {
        padding: 0;
    }

    .laravel-offering-card h5 {
        font-size: 15px;
    }

    .laravel-card {
        text-align: center;
    }

    .ang-development-edge {
        padding-bottom: 0px;
    }

    .geeko-faq {
        padding-bottom: 40px;
    }

    .dot-net-card-heading h5 {
        font-size: 14px;
        color: rgb(34, 34, 34);
        font-weight: 600;
        padding-left: 45px;
    }

    .dot-net-card-img {
        position: absolute;
    }

    .tech-tabing {
        padding-top: 4px;
    }

    .tech-tabing .nav-pills .nav-link {
        font-size: 14px;
    }

    .what-makes-wordpress h3 {
        padding-top: 40px;
        font-size: 25px;
    }

    .wordpress-web-app-card {
        direction: rtl;
        margin-bottom: 40px;
    }

    .wordpress-web-app-img img {
        position: static;
        max-width: 100%;
    }

    .wordpress-web-app-img {
        min-width: 60px;
        margin-right: 10px;
    }

    .wordpress-web-app-text {
        text-align: left !important;
    }

    .responsive-direction {
        direction: ltr;
    }

    .worpress-center-img {
        display: none;
    }

    .wordpress-advantage-cards {
        padding-top: 40px;
    }

    .what-makes-php {
        padding-bottom: 45px;
    }

    .php-center-img {
        display: none;
    }

    .header-top-blank-div {
        height: 60px;
    }


    .java-center-img {
        display: none;
    }

    .java-tech-card {
        min-height: 142px;
        padding: 15px;
    }

    .single-line {
        display: none;
    }

    #menu_open {
        display: none;
    }

    #responsive-menu-button,
    #responsive-menu-container {
        z-index: 9999999;
    }

    .header-fixed {
        z-index: 999;
    }

    #responsive-menu-button {
        background: transparent !important;
        top: 30px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .left_heading {
        padding-left: 15px !important;
    }

    .common_heading h1 {
        padding-top: 25px;
    }

    .common_heading strong {
        font-size: 14px;
        padding: 9px 0px 9px 0px;
    }

    .listing_box img {
        width: 100%;
    }

    .listing_box ul {
        width: 93%;
    }

    .right_side p {
        width: 86%;
        font-size: 12px;
    }

    .right_side a {
        font-size: 12px;
    }

    .right_side li {
        font-size: 12px;
    }

    .right_side {
        padding: 30px 15px 30px 15px;
    }

    .offices span,
    .usa-div {
        padding-left: 15px;
    }

    .detail_heading h1 {
        font-size: 26px;
    }

    .common_heading p {
        font-size: 14px;
    }

    .mobile_wearables {
        height: auto;
    }

    .inner_content {
        padding: 30px 0px;
    }

    .development_block h5 {
        font-size: 18px;
    }

    .building_block img {
        width: 100%;
    }

    .mobile_section .detail_heading h1 {
        font-size: 25px;
    }

    .industry_block h5 {
        font-size: 14px;
    }

    .our-portfolio {
        height: auto !important;
    }

    .our-portfolio .detail_heading p {
        font-size: 15px;
        padding-bottom: 0px;
    }

    .play-glam-bg {
        background: transparent;
        margin: 0px 0px;
        padding-bottom: 0px;
    }

    .portfolio-list-heading h3 {
        font-size: 25px;
        padding-top: 30px;
    }

    .portfolio-list-heading p {
        font-size: 14px;
        padding-top: 15px;
    }

    .portfolio-left-img img {
        width: 100%;
        margin-top: 40px;
        position: static;
    }

    .view-study-btns li:first-child {
        margin-right: 6px;
    }

    .view-study-link {
        font-size: 11px;
        line-height: 36px;
        padding: 0px 11px;
    }

    .portfolio-icon-link {
        width: 40px;
        height: 40px;
    }

    .bagtesh-bg {
        padding-bottom: 40px;
    }

    .see-more-case h4,
    .waiting-for-content h4,
    .features-play-glam h3,
    .industry-intro h3,
    .technology-stack h2 {
        font-size: 20px;
        padding-top: 40px;
    }

    .technology-stack {
        /* padding-bottom: 40px; */
    }

    .technology-stack-list {
        /* padding-top: 20px; */
    }

    .technology-stack-list .owl-carousel {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .portfolio-list-heading h3 {
        font-size: 18px;
        padding-top: 30px;
    }

    .portfolio-list-heading p {
        font-size: 13px;
    }

    .industry-intro {
        padding-bottom: 40px;
    }

    .features-play-glam {
        padding-bottom: 40px;
    }

    .industry-intro p {
        padding: 0 0%;
        padding-top: 20px;
        font-size: 13px;
    }

    .features-content {
        margin-top: 20px;
        padding: 23px 28px;
        padding: 15px;
    }

    .features-content h5 {
        font-size: 18px;
    }

    .features-content ul {
        padding-top: 10px;
    }

    .features-content ul li {
        font-size: 13px;
    }

    .waiting-for {
        padding: 0px;
        padding-bottom: 40px;
    }

    .waiting-for-content p {
        font-size: 14px;
    }

    .our-experts-form {
        margin-top: 30px;
        max-width: 100%;

    }

    .see-more-case .card-title {
        font-size: 18px;
        font-family: "Montserrat";
        font-weight: 600;
        color: rgb(34, 34, 34);
    }

    .form-heading h4 {
        font-size: 18px;
    }

    .developer-hiring {
        padding-bottom: 20px;
    }

    .hire-dedicated-btn .let-disuss-btn {
        margin-top: 35px;
    }

    .hire-dedicated .our-experts-form {
        max-width: inherit;
        margin-top: 40px;
    }

    .hire-dedicated .mobile_wearables {
        padding-bottom: 43px;
    }

    .hire-dedicated .detail_heading h1 {
        padding-right: 0px;
    }

    .developer-hiring h2 {
        padding-top: 40px;
        font-size: 25px;
    }

    .developer-hiring p {
        font-size: 14px;
        padding-top: 20px;
    }

    .developer-hiring-blocks .mt-30 {
        margin-top: 0px;
    }

    .developer-hiring-block {
        margin-bottom: 30px;
        padding: 28px 10px;
        min-height: 190px;
    }

    .developer-hiring-block h5 {
        font-size: 16px;
        padding-top: 14px;
    }

    .diverse p {
        font-size: 14px;
        text-align: center;
        padding: 0px;
        padding-top: 17px;
    }

    .mobility-solutions h4 {
        font-size: 18px;
    }

    .mobility-solutions p {
        font-size: 14px;
        padding: 0px;
        padding-top: 10px;
    }

    .mobility-apps-block {
        padding-bottom: 10px;
    }

    .various-industries {
        padding-bottom: 20px;
    }

    .various-industries h4 {
        font-size: 25px;
        padding-top: 40px;
    }

    .various-industries p {
        font-size: 14px;
    }

    .geekologix-ios {
        padding-bottom: 15px;
    }

    .geekologix-ios h4 {
        font-size: 25px;
        padding-top: 40px;
    }

    .geekologix-ios p {
        font-size: 14px;
    }

    .ios-card {
        padding: 15px 15px;
        height: 190px;
        margin-bottom: 30px;
    }

    .ios-heading h5 {
        font-size: 14px;
        padding-top: 18px;
    }

    .hover-ios {
        padding: 15px;
    }

    .hover-ios h5 {
        font-size: 14px;
        padding-top: 0px;
    }

    .hover-ios p {
        font-size: 11px;
    }

    .faq h4 {
        font-size: 25px;
        color: rgb(34, 34, 34);
        font-weight: 600;
        text-align: center;
        padding-top: 40px;
    }

    .myaccordion {
        padding-top: 40px;
    }

    .myaccordion .card-header button {
        font-size: 12px;
        padding: 8px 15px;
    }

    .myaccordion .card-body {
        padding: 0px 15px;
        padding-bottom: 20px;
    }

    .myaccordion .fa-stack {
        font-size: 14px;
    }

    .myaccordion-text {
        font-size: 11px;
    }

    .faq-img {
        display: none;
    }

    .faq {
        padding-bottom: 30px;
    }

    .project_slider_bg {
        padding: 25px 15px;
    }

    .project_slider_bg h5 {
        font-size: 22px;
    }

    .project_detail {
        padding-right: 15px;
    }

    .project_slider_bg p {
        font-size: 14px;
        text-align: left;
        padding: 15px 0px 20px 0px;
    }

    .project_slider_bg a {
        font-size: 11px;
    }

    .map-content .office_h {
        font-size: 16px;
    }

    .map-content {
        padding-bottom: 15px;
    }

    .country-content h5 {
        font-size: 18px;
    }

    .country-content li h6 {
        font-size: 14px;
    }

    .address-text {
        padding-right: 0px;
    }

    .country-content li p {
        font-size: 12px;
    }

    .country-content {
        padding: 25px 20px;
        margin-bottom: 80px;
    }

    .doveloper-timing {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .time-card {
        margin-bottom: 30px;
    }

    .doveloper-expertise {
        padding-top: 40px;
        padding-bottom: 40px;

    }

    .angular-steps h4,
    .doveloper-expertise h3 {
        font-size: 25px;
    }

    .doveloper-expertise p {
        font-size: 14px;
    }

    .benefits-hire .mobility-apps {
        font-size: 14px;
    }

    .benefits-hire {
        padding-top: 40px;
    }

    .benefits-hire h4 {
        font-size: 20px;
    }

    .benefits-hire p {
        padding-top: 20px;
    }

    .angular-steps h4 {
        padding-top: 40px;
    }

    .angular-steps p {
        padding: 0px 0px;
        padding-top: 10px;
    }

    .ang-step-card {
        width: 46%;
        margin: 0 2%;
        float: left;
        margin-bottom: 15px;
    }

    .step-card-link h5 {
        font-size: 20px;
    }

    .step-card-link h6 {
        font-size: 13px;
    }

    .step-card-list .step-card-link:last-child {
        margin: auto;
    }

    .angular-steps {
        padding-bottom: 25px;
    }

    .ang-experts h4 {
        font-size: 25px;
        padding-top: 40px;
    }

    .experts-card {
        margin-bottom: 30px;
    }

    .expert-img {
        margin-top: 0px;
        position: absolute;
        left: 35px;
        top: 20px;
    }

    .experts-cards {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .experts-card h5 {
        font-size: 18px;
        padding-left: 85px;
        padding-top: 21px;
    }

    .experts-card p {
        font-size: 13px;
        padding-top: 35px;
    }

    .ang-experts {
        padding-bottom: 0px;
    }

    .why-to-hire h4 {
        padding: 0px 0px;
        padding-top: 40px;
        font-size: 25px;
    }

    .hire-flutter h4,
    .flutter-services h3 {
        font-size: 25px;
        padding-top: 40px;
    }

    .hire-flutter p,
    .flutter-services p {
        padding: 0px 0px;
        padding-top: 8px;
        font-size: 14px;
    }

    .flutter-ninehertz-cards {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .flutter-ninehertz-card {
        margin-top: 40px;
    }

    .flutter-blocks .industry_block {
        margin-top: 30px;
        padding: 19px 5px 5px 5px;
    }

    .flutter-blocks .industry_block h5 {
        font-size: 13px;
    }

    .flutter-card {
        min-height: inherit;
    }

    .px-0 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .ios-services {
        padding-bottom: 40px;
    }

    .ios-service-img {
        margin-top: 40px;
    }

    .ios-service-img img {
        max-width: 100%;
    }

    .laravel-key-offerings h3,
    .ios-key-offering h3,
    .geekologix-ios-advantage h3,
    .ios-service-content h2 {
        padding-top: 40px;
        font-size: 25px;
    }

    .ios-service-list h5 {
        font-size: 16px;
    }

    .ios-service-list p {
        font-size: 14px;
    }

    .ios-advantage-card {
        margin-top: 50px;
    }

    .ios-card-img {
        width: 65px;
        height: 65px;
        margin-top: -32.5px;
    }

    .ios-card-img img {
        max-width: 100%;
    }

    .ios-advantage-card h5 {
        font-size: 14px;
        padding-top: 20px;
    }

    .geekologix-ios-advantage {
        padding-bottom: 50px;
    }

    .ios-offering-img {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }

    .ios-offering-img img {
        max-width: 100%;
    }

    .ios-offering-card {
        padding: 10px;
        margin-top: 25px;
    }

    .ios-offering-card h5 {
        font-size: 12px;
    }

    .ios-key-offering {
        padding-bottom: 45px;
    }

    .platforms-tabing .nav-link {
        padding: 11px 11px;
        font-size: 11px;
    }

    .technologies-accordian .card-header button {
        padding: 22px 15px;
        padding-left: 90px;
    }

    .technologies-accordian .card-header button {
        font-size: 14px;
    }

    .technologies-faq {
        padding-bottom: 25px;
    }

    .technology-icon-list {
        padding-left: 0px;
    }

    .technology-icon-link small {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .laravel-accordian .card-header button {
        padding-left: 50px;
    }

    .tech-card {
        height: 130px;
    }

    .tech-card h5 {
        font-size: 15px;
    }

    .tech-logo-img {
        height: 80px;
    }

    .our-tech-stack {
        padding-bottom: 15px;
    }

    .laravel-offering-card {
        padding: 0;
    }

    .laravel-offering-card h5 {
        font-size: 15px;
    }

    .laravel-card {
        text-align: center;
    }

    .ecommerce-tech-card .tech-card h5 {
        font-size: 14px;

    }

}